<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjx.youchat.chat.mapper.SessionMapper">
	<insert id="insert">
		insert into `session` values
		(#{id},#{initiatorId},#{accepterId},#{lastMessage},#{lastSendTime});
	</insert>

	<select id="select" resultType="Session">
		select * from `session`
		<where>
			<if test="id!=null">
				and id=#{id}
			</if>
			<if test="initiatorId!=null">
				and initiator_id=#{initiatorId}
			</if>
			<if test="accepterId!=null">
				and accepter_id=#{accepterId}
			</if>
			<if test="lastMessage!=null">
				and last_message=#{lastMessage}
			</if>
			<if test="lastSendTime!=null">
				and last_send_time=#{lastSendTime}
			</if>
		</where>;
	</select>

	<select id="count" resultType="Integer">
		select count(*) from `session`
		<where>
			<if test="id!=null">
				and id=#{id}
			</if>
			<if test="initiatorId!=null">
				and initiator_id=#{initiatorId}
			</if>
			<if test="accepterId!=null">
				and accepter_id=#{accepterId}
			</if>
			<if test="lastMessage!=null">
				and last_message=#{lastMessage}
			</if>
			<if test="lastSendTime!=null">
				and last_send_time=#{lastSendTime}
			</if>
		</where>;
	</select>

	<select id="selectPage" resultType="Session">
		select * from `session`
		<where>
			<if test="session.id!=null">
				and id=#{session.id}
			</if>
			<if test="session.initiatorId!=null">
				and initiator_id=#{session.initiatorId}
			</if>
			<if test="session.accepterId!=null">
				and accepter_id=#{session.accepterId}
			</if>
			<if test="session.lastMessage!=null">
				and last_message=#{session.lastMessage}
			</if>
			<if test="session.lastSendTime!=null">
				and last_send_time=#{session.lastSendTime}
			</if>
		</where>
		limit #{offset},#{count};
	</select>

	<update id="updateByInitiatorIdAndAccepterId">
		update `session`
		<set>
			<if test="session.id!=null">
				id=#{session.id},
			</if>
			<if test="session.initiatorId!=null">
				initiator_id=#{session.initiatorId},
			</if>
			<if test="session.accepterId!=null">
				accepter_id=#{session.accepterId},
			</if>
			<if test="session.lastMessage!=null">
				last_message=#{session.lastMessage},
			</if>
			<if test="session.lastSendTime!=null">
				last_send_time=#{session.lastSendTime},
			</if>
		</set>
		where initiator_id=#{initiatorId} and accepter_id=#{accepterId};
	</update>

	<delete id="deleteByInitiatorIdAndAccepterId">
		delete from `session`
		where initiator_id=#{initiatorId} and accepter_id=#{accepterId};
	</delete>

	<select id="selectByInitiatorIdAndAccepterId" resultType="Session">
		select * from `session`
		where initiator_id=#{initiatorId} and accepter_id=#{accepterId};
	</select>

	<update id="updateById">
		update `session`
		<set>
			<if test="session.id!=null">
				id=#{session.id},
			</if>
			<if test="session.initiatorId!=null">
				initiator_id=#{session.initiatorId},
			</if>
			<if test="session.accepterId!=null">
				accepter_id=#{session.accepterId},
			</if>
			<if test="session.lastMessage!=null">
				last_message=#{session.lastMessage},
			</if>
			<if test="session.lastSendTime!=null">
				last_send_time=#{session.lastSendTime},
			</if>
		</set>
		where id=#{id};
	</update>

	<delete id="deleteById">
		delete from `session`
		where id=#{id};
	</delete>

	<select id="selectById" resultType="Session">
		select * from `session`
		where id=#{id};
	</select>


</mapper>

