<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjx.youchat.mapper.ChatMessageMapper">
	<insert id="insert">
		insert into chat_message values
		(#{messageId},#{sessionId},#{messageType},#{messageContent},#{sendUserId},#{sendUserNickName},#{sendTime},#{contactId},#{contactType},#{fileSize},#{fileName},#{fileType},#{status});
	</insert>

	<select id="select" resultType="ChatMessage">
		select * from chat_message
		<where>
			<if test="messageId!=null">
				and message_id=#{messageId}
			</if>
			<if test="sessionId!=null">
				and session_id=#{sessionId}
			</if>
			<if test="messageType!=null">
				and message_type=#{messageType}
			</if>
			<if test="messageContent!=null">
				and message_content=#{messageContent}
			</if>
			<if test="sendUserId!=null">
				and send_user_id=#{sendUserId}
			</if>
			<if test="sendUserNickName!=null">
				and send_user_nick_name=#{sendUserNickName}
			</if>
			<if test="sendTime!=null">
				and send_time=#{sendTime}
			</if>
			<if test="contactId!=null">
				and contact_id=#{contactId}
			</if>
			<if test="contactType!=null">
				and contact_type=#{contactType}
			</if>
			<if test="fileSize!=null">
				and file_size=#{fileSize}
			</if>
			<if test="fileName!=null">
				and file_name=#{fileName}
			</if>
			<if test="fileType!=null">
				and file_type=#{fileType}
			</if>
			<if test="status!=null">
				and status=#{status}
			</if>
		</where>;
	</select>

	<select id="count" resultType="Integer">
		select count(*) from chat_message
		<where>
			<if test="messageId!=null">
				and message_id=#{messageId}
			</if>
			<if test="sessionId!=null">
				and session_id=#{sessionId}
			</if>
			<if test="messageType!=null">
				and message_type=#{messageType}
			</if>
			<if test="messageContent!=null">
				and message_content=#{messageContent}
			</if>
			<if test="sendUserId!=null">
				and send_user_id=#{sendUserId}
			</if>
			<if test="sendUserNickName!=null">
				and send_user_nick_name=#{sendUserNickName}
			</if>
			<if test="sendTime!=null">
				and send_time=#{sendTime}
			</if>
			<if test="contactId!=null">
				and contact_id=#{contactId}
			</if>
			<if test="contactType!=null">
				and contact_type=#{contactType}
			</if>
			<if test="fileSize!=null">
				and file_size=#{fileSize}
			</if>
			<if test="fileName!=null">
				and file_name=#{fileName}
			</if>
			<if test="fileType!=null">
				and file_type=#{fileType}
			</if>
			<if test="status!=null">
				and status=#{status}
			</if>
		</where>;
	</select>

	<select id="selectPage" resultType="ChatMessage">
		select * from chat_message
		<where>
			<if test="chatMessage.messageId!=null">
				and message_id=#{chatMessage.messageId}
			</if>
			<if test="chatMessage.sessionId!=null">
				and session_id=#{chatMessage.sessionId}
			</if>
			<if test="chatMessage.messageType!=null">
				and message_type=#{chatMessage.messageType}
			</if>
			<if test="chatMessage.messageContent!=null">
				and message_content=#{chatMessage.messageContent}
			</if>
			<if test="chatMessage.sendUserId!=null">
				and send_user_id=#{chatMessage.sendUserId}
			</if>
			<if test="chatMessage.sendUserNickName!=null">
				and send_user_nick_name=#{chatMessage.sendUserNickName}
			</if>
			<if test="chatMessage.sendTime!=null">
				and send_time=#{chatMessage.sendTime}
			</if>
			<if test="chatMessage.contactId!=null">
				and contact_id=#{chatMessage.contactId}
			</if>
			<if test="chatMessage.contactType!=null">
				and contact_type=#{chatMessage.contactType}
			</if>
			<if test="chatMessage.fileSize!=null">
				and file_size=#{chatMessage.fileSize}
			</if>
			<if test="chatMessage.fileName!=null">
				and file_name=#{chatMessage.fileName}
			</if>
			<if test="chatMessage.fileType!=null">
				and file_type=#{chatMessage.fileType}
			</if>
			<if test="chatMessage.status!=null">
				and status=#{chatMessage.status}
			</if>
		</where>
		limit #{offset},#{count};
	</select>

	<update id="updateByMessageId">
		update chat_message
		<set>
			<if test="chatMessage.messageId!=null">
				message_id=#{chatMessage.messageId},
			</if>
			<if test="chatMessage.sessionId!=null">
				session_id=#{chatMessage.sessionId},
			</if>
			<if test="chatMessage.messageType!=null">
				message_type=#{chatMessage.messageType},
			</if>
			<if test="chatMessage.messageContent!=null">
				message_content=#{chatMessage.messageContent},
			</if>
			<if test="chatMessage.sendUserId!=null">
				send_user_id=#{chatMessage.sendUserId},
			</if>
			<if test="chatMessage.sendUserNickName!=null">
				send_user_nick_name=#{chatMessage.sendUserNickName},
			</if>
			<if test="chatMessage.sendTime!=null">
				send_time=#{chatMessage.sendTime},
			</if>
			<if test="chatMessage.contactId!=null">
				contact_id=#{chatMessage.contactId},
			</if>
			<if test="chatMessage.contactType!=null">
				contact_type=#{chatMessage.contactType},
			</if>
			<if test="chatMessage.fileSize!=null">
				file_size=#{chatMessage.fileSize},
			</if>
			<if test="chatMessage.fileName!=null">
				file_name=#{chatMessage.fileName},
			</if>
			<if test="chatMessage.fileType!=null">
				file_type=#{chatMessage.fileType},
			</if>
			<if test="chatMessage.status!=null">
				status=#{chatMessage.status},
			</if>
		</set>
		where message_id=#{messageId};
	</update>

	<delete id="deleteByMessageId">
		delete from chat_message 
		where message_id=#{messageId};
	</delete>

	<select id="selectByMessageId" resultType="ChatMessage">
		select * from chat_message
		where message_id=#{messageId};
	</select>


</mapper>

