<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjx.youchat.mapper.ChatSessionMapper">
	<insert id="insert">
		insert into chat_session values
		(#{sessionId},#{lastMessage},#{lastReceiveTime});
	</insert>

	<select id="select" resultType="ChatSession">
		select * from chat_session
		<where>
			<if test="sessionId!=null">
				and session_id=#{sessionId}
			</if>
			<if test="lastMessage!=null">
				and last_message=#{lastMessage}
			</if>
			<if test="lastReceiveTime!=null">
				and last_receive_time=#{lastReceiveTime}
			</if>
		</where>;
	</select>

	<select id="count" resultType="Integer">
		select count(*) from chat_session
		<where>
			<if test="sessionId!=null">
				and session_id=#{sessionId}
			</if>
			<if test="lastMessage!=null">
				and last_message=#{lastMessage}
			</if>
			<if test="lastReceiveTime!=null">
				and last_receive_time=#{lastReceiveTime}
			</if>
		</where>;
	</select>

	<select id="selectPage" resultType="ChatSession">
		select * from chat_session
		<where>
			<if test="chatSession.sessionId!=null">
				and session_id=#{chatSession.sessionId}
			</if>
			<if test="chatSession.lastMessage!=null">
				and last_message=#{chatSession.lastMessage}
			</if>
			<if test="chatSession.lastReceiveTime!=null">
				and last_receive_time=#{chatSession.lastReceiveTime}
			</if>
		</where>
		limit #{offset},#{count};
	</select>

	<update id="updateBySessionId">
		update chat_session
		<set>
			<if test="chatSession.sessionId!=null">
				session_id=#{chatSession.sessionId},
			</if>
			<if test="chatSession.lastMessage!=null">
				last_message=#{chatSession.lastMessage},
			</if>
			<if test="chatSession.lastReceiveTime!=null">
				last_receive_time=#{chatSession.lastReceiveTime},
			</if>
		</set>
		where session_id=#{sessionId};
	</update>

	<delete id="deleteBySessionId">
		delete from chat_session 
		where session_id=#{sessionId};
	</delete>

	<select id="selectBySessionId" resultType="ChatSession">
		select * from chat_session
		where session_id=#{sessionId};
	</select>


</mapper>

