<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjx.youchat.mapper.GroupMapper">
	<insert id="insert">
		insert into `group` values
		(#{id},#{nickname},#{ownerId},#{notice},#{status},#{authority},#{createTime});
	</insert>

	<select id="select" resultType="Group">
		select * from `group`
		<where>
			<if test="id!=null">
				and id=#{id}
			</if>
			<if test="nickname!=null">
				and nickname=#{nickname}
			</if>
			<if test="ownerId!=null">
				and owner_id=#{ownerId}
			</if>
			<if test="notice!=null">
				and notice=#{notice}
			</if>
			<if test="status!=null">
				and status=#{status}
			</if>
			<if test="authority!=null">
				and authority=#{authority}
			</if>
			<if test="createTime!=null">
				and create_time=#{createTime}
			</if>
		</where>;
	</select>

	<select id="count" resultType="Integer">
		select count(*) from `group`
		<where>
			<if test="id!=null">
				and id=#{id}
			</if>
			<if test="nickname!=null">
				and nickname=#{nickname}
			</if>
			<if test="ownerId!=null">
				and owner_id=#{ownerId}
			</if>
			<if test="notice!=null">
				and notice=#{notice}
			</if>
			<if test="status!=null">
				and status=#{status}
			</if>
			<if test="authority!=null">
				and authority=#{authority}
			</if>
			<if test="createTime!=null">
				and create_time=#{createTime}
			</if>
		</where>;
	</select>

	<select id="selectPage" resultType="Group">
		select * from `group`
		<where>
			<if test="group.id!=null">
				and id=#{group.id}
			</if>
			<if test="group.nickname!=null">
				and nickname=#{group.nickname}
			</if>
			<if test="group.ownerId!=null">
				and owner_id=#{group.ownerId}
			</if>
			<if test="group.notice!=null">
				and notice=#{group.notice}
			</if>
			<if test="group.status!=null">
				and status=#{group.status}
			</if>
			<if test="group.authority!=null">
				and authority=#{group.authority}
			</if>
			<if test="group.createTime!=null">
				and create_time=#{group.createTime}
			</if>
		</where>
		limit #{offset},#{count};
	</select>

	<update id="updateById">
		update `group`
		<set>
			<if test="group.id!=null">
				id=#{group.id},
			</if>
			<if test="group.nickname!=null">
				nickname=#{group.nickname},
			</if>
			<if test="group.ownerId!=null">
				owner_id=#{group.ownerId},
			</if>
			<if test="group.notice!=null">
				notice=#{group.notice},
			</if>
			<if test="group.status!=null">
				status=#{group.status},
			</if>
			<if test="group.authority!=null">
				authority=#{group.authority},
			</if>
			<if test="group.createTime!=null">
				create_time=#{group.createTime},
			</if>
		</set>
		where id=#{id};
	</update>

	<delete id="deleteById">
		delete from `group`
		where id=#{id};
	</delete>

	<select id="selectById" resultType="Group">
		select * from `group`
		where id=#{id};
	</select>


</mapper>

