<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjx.youchat.mapper.UserContactMapper">
	<insert id="insert">
		insert into user_contact values
			(#{userId},#{contactId},#{type},#{contactPermission},#{createTime},#{lastUpdateTime});
	</insert>

	<select id="select" resultType="UserContact">
		select * from user_contact
		<where>
			<if test="userId!=null">
				and user_id=#{userId}
			</if>
			<if test="contactId!=null">
				and contact_id=#{contactId}
			</if>
			<if test="type!=null">
				and type=#{type}
			</if>
			<if test="contactPermission!=null">
				and contact_permission=#{contactPermission}
			</if>
			<if test="createTime!=null">
				and create_time=#{createTime}
			</if>
			<if test="lastUpdateTime!=null">
				and last_update_time=#{lastUpdateTime}
			</if>
		</where>;
	</select>

	<select id="count" resultType="Integer">
		select count(*) from user_contact
		<where>
			<if test="userId!=null">
				and user_id=#{userId}
			</if>
			<if test="contactId!=null">
				and contact_id=#{contactId}
			</if>
			<if test="type!=null">
				and type=#{type}
			</if>
			<if test="contactPermission!=null">
				and contact_permission=#{contactPermission}
			</if>
			<if test="createTime!=null">
				and create_time=#{createTime}
			</if>
			<if test="lastUpdateTime!=null">
				and last_update_time=#{lastUpdateTime}
			</if>
		</where>;
	</select>

	<select id="selectPage" resultType="UserContact">
		select * from user_contact
		<where>
			<if test="userContact.userId!=null">
				and user_id=#{userContact.userId}
			</if>
			<if test="userContact.contactId!=null">
				and contact_id=#{userContact.contactId}
			</if>
			<if test="userContact.type!=null">
				and type=#{userContact.type}
			</if>
			<if test="userContact.contactPermission!=null">
				and contact_permission=#{userContact.contactPermission}
			</if>
			<if test="userContact.createTime!=null">
				and create_time=#{userContact.createTime}
			</if>
			<if test="userContact.lastUpdateTime!=null">
				and last_update_time=#{userContact.lastUpdateTime}
			</if>
		</where>
		limit #{offset},#{count};
	</select>

	<update id="updateByUserIdAndContactId">
		update user_contact
		<set>
			<if test="userContact.userId!=null">
				user_id=#{userContact.userId},
			</if>
			<if test="userContact.contactId!=null">
				contact_id=#{userContact.contactId},
			</if>
			<if test="userContact.type!=null">
				type=#{userContact.type},
			</if>
			<if test="userContact.contactPermission!=null">
				contact_permission=#{userContact.contactPermission},
			</if>
			<if test="userContact.createTime!=null">
				create_time=#{userContact.createTime},
			</if>
			<if test="userContact.lastUpdateTime!=null">
				last_update_time=#{userContact.lastUpdateTime},
			</if>
		</set>
		where user_id=#{userId} and contact_id=#{contactId};
	</update>

	<delete id="deleteByUserIdAndContactId">
		delete from user_contact
		where user_id=#{userId} and contact_id=#{contactId};
	</delete>

	<select id="selectByUserIdAndContactId" resultType="UserContact">
		select * from user_contact
		where user_id=#{userId} and contact_id=#{contactId};
	</select>


</mapper>

